{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content%}
<br/>
<div class="container-md">
    <h2>Components checkout</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    {% for cabinet, drawers in checkout_list.items() %}
    <ul>
        <li>Cabinet: {{ cabinet.name }}</li>
        {% for drawer, components in drawers.items() %}
        <ul>
            <li>Drawer: {{ drawer.x}},{{drawer.y}}</li>
            <ul>
                {% for component in components %}
                <li>{{ component.name }}</li>
                {% endfor %}
            </ul>
        </ul>
        {% endfor %}
    </ul>
    {% endfor %}
{% endblock %}