{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content%}
<br/>
<div class="container-md">
    <h2>{{cabinet.name }}</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {{ messages[0] }}.</a>.
    </div>
    {% endif %}
    {% endwith %}
    <br />
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Cabinet Summary
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="table">
                    <tbody>
                      <tr>
                        <td>Name</td>
                        <td>{{ cabinet.name }}</td>
                      </tr>
                      <tr>
                        <td>Cabinet width</td>
                        <td>{{ cabinet.x }}</td>
                      </tr>
                      <tr>
                        <td>Cabinet height</td>
                        <td>{{ cabinet.y }}</td>
                      </tr>
                      <tr>
                        <td>Cabinet IP</td>
                        <td>192.168.4.5</td>
                      </tr>
                      <tr>
                        <td>Total different components</td>
                        <td>115</td>
                      </tr>
                      <tr>
                        <td>Filled percentage</td>
                        <td>10%</td>
                      </tr>
                    </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    <br />
    <div class="text-center">
        <a class="btn btn-dark" href="{{ url_for('cabinet.drawer.component.checkout_component_form') }}" role="button" style="width:48%">Check out components</a>
        <a class="btn btn-dark" href="{{ url_for('cabinet.drawer.create_drawer_form', cabinet_id=cabinet.id) }}" role="button" style="width:48%">Add drawers</a>
    </div>
    <br />
    {% for i in range(cabinet.y) %}
    <div class="text-center" style="padding:3px">
      {% for j in range(cabinet.x) %}
      {% if (j+1,i+1) in drawer_map%}
      <a class="btn btn-primary" href="{{ url_for('cabinet.drawer.get_drawer', drawer_id=drawer_map[0][drawer_map.index((j+1,i+1)) - 1]) }}" role="button" style="width:{{1/cabinet.y*100}}%">
      {% else %}
      <a class="btn btn-secondary" href="#" role="button" style="width:{{1/cabinet.y*100}}%">
      {% endif%}
        {{ j + 1 + i * cabinet.x}}
      <a/>
      {% endfor %}
    </div>
    {% endfor %}
    <br/>
    </div>
</div>
{% endblock %}