{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content%}
<br/>
<div class="container-md">
    <h2>Drawer #{{ drawer.x + (drawer.y -1) * cabinet_x }}</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {{ messages[0] }}.</a>.
    </div>
    {% endif %}
    {% endwith %}
    <br />
    <table class="table">
        <tbody>
          <tr>
            <td>X position</td>
            <td>{{ drawer.x }}</td>
          </tr>
          <tr>
            <td>Y position</td>
            <td>{{ drawer.y }}</td>
          </tr>
          <tr>
            <td>Compartments</td>
            <td>{{ drawer.compartments }}</td>
          </tr>
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-dark" href="{{ url_for('.component.create_component_form', drawer_id=drawer.id)}}" role="button" style="width:100%">Add component</a>
    </div>
    <br />
    <h3>Components</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for component in components%}
        <tr>
          <th scope="row">{{ component.id }}</th>
          <td>{{ component.name }}</td>
          <td>{{ component.quantity }}</td>
          <td>
            <a class="btn btn-dark" href="{{ url_for('.component.update_component_form', component_id=component.id, drawer_id=drawer.id)}}" role="button" >Update</a>
            <a class="btn btn-danger" href="{{ url_for('.component.delete_component', component_id=component.id)}}" role="button" data-methode="delete">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  
    <br />
{% endblock %}
